* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(176, 213, 230);
}

#pannel {
    overflow: hidden;
    width: 75%;
    height: 90%;
    border-radius: 10px;
    background-color: #fff;
}

#pTop {
    display: flex;
    padding: 0 30%;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 70px;
    background-color: rgb(28, 108, 126);
}

.elem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.elem h2 {
    font-weight: 200;
    font-size: 23px;
    color: #fff;

}

.box {
    padding: 10px 20px;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 7px;
    color: rgb(18, 53, 84);
    font-size: 25px;
    font-weight: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pbtm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}
#pbtm h1{
    padding-bottom: 10%;
}
#bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgb(34, 113, 135);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-weight: 500;
}

#bubble:hover {
    background-color: rgb(13, 54, 72);
    cursor: pointer;
}